* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Ubuntu", sans-serif;
    font-size: 12px;

    border: solid 1px blue;
}

.container-pai {
    width: 200px;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.input-text {
    width: 160px;
    padding: 1px 3px;
    outline: none;
}

.container-buttons {
    width: 160px;
    padding: 5px 0;

    display: flex;
    justify-content: space-between;
}

.btn {
    width: 77px;
    padding: 2px;
    border-radius: 3px;
    border: solid 1px #4c4c4d;
    cursor: pointer;
}
